@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px ;
}

body{
    background-color: rgba(0, 0, 255, 0.247);
    color: white;
    font: normal 15pt Arial;
    text-align: center;
    
}
h1{
    margin: 40px;
}

#msg{
padding: 20px;
}

div{
    
    padding: 5px;
}


section{

margin: auto;
background-color: white;
color: black;
width: 500px;

border-radius: 20px;
box-shadow:  2px 2px 10px   rgba(0, 0, 0, 0.342);
}


#foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer{
margin-top: 20px;

}